body {
    font-family: sans-serif;
}
form {
    padding: 10px;
    background-color: #ddd;
    border-radius: 6px;
    border: 1px solid #333;
    width: 416px;
}
label {
    margin-top: 8px;
    display: block;
}
input{
    width: 400px;
}

textarea {
    width: 400px;
}

input[type="text"],input[type="tel"],input[type="email"]{
    height: 20px;
}

input[type=submit]{
    margin-left: 2px;
    border: none;
    height: 40px;
    color: white;
    font-size: 1.5em;
    border: 1px solid #333;
}